@use '@carbon/layout' as layout;
@use '@carbon/type' as type;

.header {
  @include type.type-style('body-compact-02');
  color: var(--cds-text-secondary, #525252);
  height: layout.$spacing-12;
  background-color: var(--cds-layer-01, #ffffff);
  border-bottom: 1px solid var(--cds-border-subtle, #e0e0e0);
  display: flex;
  justify-content: space-between;
  padding: layout.$spacing-05;
}

.left-justified-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.right-justified-items {
  @include type.type-style('body-compact-02');
  color: var(--cds-text-secondary, #525252);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-name {
  @include type.type-style('heading-04');
}

.page-labels {
  margin: layout.$spacing-03;

  p:first-of-type {
    margin-bottom: layout.$spacing-02;
  }
}

.date-and-location {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.userContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: layout.$spacing-05;
}

.value {
  margin-left: layout.$spacing-02;
}

.middot {
  margin: 0 layout.$spacing-03;
}

.view {
  @include type.type-style('label-01');
}