@use '@carbon/styles/scss/spacing';
@use '@carbon/type' as type;

.container {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-06;
  max-width: 40rem;
  padding: spacing.$spacing-07 spacing.$spacing-06;
}

.section {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-03;
}

.label {
  @include type.type-style('body-01');

  color: var(--cds-text-secondary);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: spacing.$spacing-02;
}

.hint {
  @include type.type-style('body-01');

  color: var(--cds-text-secondary);
}

.actions {
  display: flex;
  gap: spacing.$spacing-03;
}
